.ui.grid > .row {
  height: 100vh;
}

.ui.form input[type=text],
.ui.form textarea {
  background: transparent;
  color: #011627;
}

.my-content .ui.segment{
  min-height:500px;
  height:100%;
}
.ui.grid{
  padding:0 !important;
}
.pushable.segment{
  margin:0 !important;
}

.ui.label.basic {
  background-color: #2EC4B6;
}
.ui.label.demo{
  background-color: #FF9F1C
}
.ui.label.year{
  background-color: #E71D36
}
.slick-arrow {
  color: black;
}
#iskandar {
   background-image: -webkit-radial-gradient(#ffb76b, #ff7f04);
   background-image: radial-gradient(#ffb76b, #ff7f04);
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
 }
#iskandar.noBreathe{
   background-image: -webkit-radial-gradient(#00d2ff, #3a7bd5);
   background-image: radial-gradient(#00d2ff, #3a7bd5);
}
#intro{
  position:absolute;
  bottom:50px;
  width:100%;
  text-align:center;
  color:#FDFFFC;
  font-family:'Merriweather';
  font-size:15px;
}

#intro{
  top:100px;
}
#intro span{
  color:#FDFFFC;
   font-weight:bold;
}
#intro h1{
  margin-bottom:2px;
}

.contactbox {
  text-align: center;
  width: 100%;
  height: 100%;
}
.aboutbox {
  text-align: center;
  width: 100%;
  height: 100%;
}
